extends ./layout/index

block slider
    .slider.fade-in-image
        //- em Laia Rueda
        //- h1 Laia Rueda
block content    
    include ./layout/aboutUsBlock.pug    
    .container.mt-5.justify-content-center.mb-5    
        h2.section-header.text-center Servicios
        include ./layout/tratamientosBloque
        .row.justify-content-center.mb-2.mt-4.my-5.text-center
            a.ver-todos(href=`tratamientos`, class="btn btn-success btn-block").text-center Ver Servicios
    .descuento
        .container
            .row 
                .col-md-6 
                    .contenido 
                        h3 10% de Descuento 
                        p.titulo Masaje facial 
                        p.fecha Del 20 de Febrero al 17 de Marzo
                        p.precio 40€
    .container.mt-5.justify-content-center.mb-5
        h2.section-header.text-center Opiniones de clientes
        include ./layout/testimoniosBloque.pug
        .row.justify-content-center.mb-2.mt-4.my-5.text-center
                a.ver-todos(href=`testimonios`, class="btn btn-success btn-block").text-center Ver Opiniones

    

