extends ./layout/index

block content
    .bg-about-section
        main.container.fade-in-image
            .row.flex-column-reverse.flex-md-row
                .col-md-7.tarjet.order-md-first
                    h2.section-header.text-center.elementor-heading-title.elementor-size-default.my-4 #{content.title}
                    p <strong>Laia Beauty care</strong> nace por mi pasión por la belleza, siempre he estado interesada por cómo los pequeños detalles pueden marcar una gran diferencia en la forma en que nos vemos y sentimos. Desde pequeña, he estado interesada en el maquillaje, los cuidados de la piel y los tratamientos más novedosos de belleza. Para mí, la belleza no se trata de seguir tendencias o cumplir con ciertos estándares, sino de resaltar la belleza natural que cada uno de nosotros tenemos. Una parte muy importante para mi es poder ayudar a cada cliente a sentirse más cómodo y seguro con su imagen y personalizar cada tratamiento según la necesidad de cada persona. En mi centro, me enorgullece poder compartir con vosotros mi pasión. Mi mayor secreto es trabajar con amor y delicadeza  en cada trabajo  realizado para vosotr@s. 

                .col-md-5
                    img(src="img/laia-rueda-tecnica-micro-blaidign.png" alt="Laia Rueda" class="img-fluid align-item-bottom")
    .listado-iconos
        .container.py-5.text-center.fade-in-image
            .row 
                .col-md-4.bg-form 
                    img(src="img/cejas-vector.png" alt="icono seguridad" class="img-fluid mb-4")
                    p Diseño miradas, mi pasión es enfocarme en cada detalle para asegurarme de que te sientes cuidado y satisfecho con mi servicio.

                .col-md-4.bg-form  
                    img(src="img/educacion-vector-logo.png" alt="icono seguridad" class="img-fluid mb-4")
                    p Siempre actualizada en las últimas técnicas y tendencias, para ofrecer los servicios más innovadores y de alta calidad.

                .col-md-4.bg-form  
                    img(src="img/compromiso-vector-logo.png" alt="icono seguridad" class="img-fluid mb-4")
                    p Mi compromiso es brindar una experiencia personalizada, y ayudar a cada uno de mis clientes a potenciar su autoestima con amor.

