.elementor.elementor-30524(data-elementor-type='wp-page' data-elementor-id='30524')
  section.elementor-section.elementor-top-section.elementor-element.elementor-element-cda3c16.elementor-section-boxed.elementor-section-height-default.elementor-section-height-default(data-particle_enable='false' data-particle-mobile-disabled='false' data-id='cda3c16' data-element_type='section')
    .elementor-container.elementor-column-gap-default
      .elementor-column.elementor-col-100.elementor-top-column.elementor-element.elementor-element-b548297(data-id='b548297' data-element_type='column' data-settings='{"background_background":"classic"}')
        .elementor-widget-wrap.elementor-element-populated
          section.elementor-section.elementor-inner-section.elementor-element.elementor-element-05a8da6.elementor-section-boxed.elementor-section-height-default.elementor-section-height-default(data-particle_enable='false' data-particle-mobile-disabled='false' data-id='05a8da6' data-element_type='section')
            .elementor-container.elementor-column-gap-default
              .elementor-column.elementor-col-50.elementor-inner-column.elementor-element.elementor-element-be67081(data-id='be67081' data-element_type='column' data-settings='{"background_background":"classic"}')
                .elementor-widget-wrap.elementor-element-populated
                  .elementor-element.elementor-element-aac5ada.elementor-widget.elementor-widget-heading(data-id='aac5ada' data-element_type='widget' data-widget_type='heading.default')
                    .elementor-widget-container
                      h1.elementor-heading-title.elementor-size-default
                        |Tratamientos de belleza
                  //- &#x9;&#x9;&#x9;&#x9;
                  .elementor-element.elementor-element-c2eadb2.elementor-widget.elementor-widget-heading(data-id='c2eadb2' data-element_type='widget' data-widget_type='heading.default')
                    .elementor-widget-container
                      p.elementor-heading-title.elementor-size-default.text-left Laia beauty care especialista en técnicas de microblading y micropigmentación. Además, ofrezco una amplia gama de tratamientos para lucir una piel perfecta y radiante, con las técnicas más innovadoras. Mis principales objetivos son brindar a cada uno de los clientes un servicio personalizado, adaptado a las necesidades individuales de cada uno de ellos, para hacerles sentir mejor con ellos mismos.Si deseas reservar un servicio o simplemente tienes alguna pregunta, no dudes en contactarme. Estoy a tu disposición para ayudarte y brindarte los mejores servicios de belleza. ¡Gracias por visitarme y espero verte pronto en mi centro de belleza! 

                  .elementor-element.elementor-element-7f588cf.elementor-align-left.elementor-tablet-align-center.elementor-widget.elementor-widget-button(data-id='7f588cf' data-element_type='widget' data-widget_type='button.default')
                    .elementor-widget-container
                      .elementor-button-wrapper
                        a.elementor-button-link.elementor-button.elementor-size-sm(href='/sobre-mi' role='button')
                          span.elementor-button-content-wrapper
                            span.elementor-button-text Conóceme
              //- &#x9;&#x9;&#x9;&#x9;
              .elementor-column.elementor-col-50.elementor-inner-column.elementor-element.elementor-element-e0bea20(data-id='e0bea20' data-element_type='column')
                .elementor-widget-wrap.elementor-element-populated
                  .elementor-element.elementor-element-0632c49.elementor-widget.elementor-widget-image(data-id='0632c49' data-element_type='widget' data-widget_type='image.default')
                    .elementor-widget-container
                      img.attachment-large.size-large(decoding='async' width='524' height='618' src='img/home-img-belleza.png' alt='' loading='lazy' srcset='img/home-img-belleza.png' sizes='(max-width: 524px) 100vw, 524px')
          //- | &#x9;&#x9;&#x9;&#x9;
          .elementor-element.elementor-element-3d23112.elementor-widget__width-initial.elementor-absolute.elementor-hidden-laptop.elementor-hidden-tablet.elementor-hidden-mobile.elementor-widget.elementor-widget-image(data-id='3d23112' data-element_type='widget' data-settings='{"_position":"absolute"}' data-widget_type='image.default')
            .elementor-widget-container
              img.attachment-large.size-large(decoding='async' width='135' height='135' src='https://demo.templateelementor.com/landing-pages/wp-content/uploads/sites/4/2022/01/back.png' alt='' loading='lazy')