footer
    .container.py-5
        .row
            .col-md-4.border-right
                nav.nav.footer.justify-content-center.justify-content-md-start
                    a.nav-link(href="/nosotros") Instagram
                    a.nav-link(href="/testimoniales") Facebook 
                    a.nav-link(href="/tratamientos") Gmail
            .col-md-4.justify-content-center.text-align-center.border-right 
                img(src="/img/logo-laia-iniciales.png", alt="Laia Rueda logo").img-fluid
            .col-md-4  
                p.copyright.text-center.text-md-right
                    span Todos los derechos reservados 
                    span= currentYear