footer
    .container.py-5
        .row
            .col-md-4.text-center.text-md-right.border-right.px-5.mb-3
                img(src="/img/logo-laia-iniciales.png", alt="Laia Rueda logo").img-fluid
            .col-md-8
                nav.nav.footer.justify-content-center.justify-content-md-start.d-block
                    a.d-block.nav-link(href='https://www.instagram.com/laiabeautycare/')
                        svg.icon.icon-tabler.icon-tabler-brand-instagram(xmlns='http://www.w3.org/2000/svg' width='44' height='44' viewbox='0 0 24 24' stroke-width='1.5' stroke='#000000' fill='none' stroke-linecap='round' stroke-linejoin='round')
                            path(stroke='none' d='M0 0h24v24H0z' fill='none')
                            rect(x='4' y='4' width='16' height='16' rx='4')
                            circle(cx='12' cy='12' r='3')
                            line(x1='16.5' y1='7.5' x2='16.5' y2='7.501') 
                            span laiabeautycare
                    a.d-block.nav-link(href='mailto:info@laiabeautycare.com') 
                        svg.icon.icon-tabler.icon-tabler-mail(xmlns='http://www.w3.org/2000/svg' width='44' height='44' viewbox='0 0 24 24' stroke-width='1.5' stroke='#000000' fill='none' stroke-linecap='round' stroke-linejoin='round')
                            path(stroke='none' d='M0 0h24v24H0z' fill='none')
                            rect(x='3' y='5' width='18' height='14' rx='2')
                            polyline(points='3 7 12 13 21 7')
                            span info@laiabeautycare.com
                    a.d-block.nav-link(href='#') 
                        svg.icon.icon-tabler.icon-tabler-map-pin(xmlns='http://www.w3.org/2000/svg' width='44' height='44' viewbox='0 0 24 24' stroke-width='1.5' stroke='#000000' fill='none' stroke-linecap='round' stroke-linejoin='round')
                            path(stroke='none' d='M0 0h24v24H0z' fill='none')
                            circle(cx='12' cy='11' r='3')
                            path(d='M17.657 16.657l-4.243 4.243a2 2 0 0 1 -2.827 0l-4.244 -4.243a8 8 0 1 1 11.314 0z')
                            span El Prat de Llobregat, Barcelona.
                    a.nav-link(href='mailto:email@example.com?subject=Mail from our Website') 
                        span.blockquote  © Copyright 2023. Todos los derechos reservados.                  


