doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        meta(name="description" content="Laia Beauty Care, especialistas en microblading, te ofrece la oportunidad de transformar tus cejas y resaltar tu belleza natural. Nuestros tratamientos de belleza te brindarán resultados increíbles. Contáctanos hoy mismo para obtener más información")
        link(rel="icon" href="/img/favicon.webp" type="image/png")
        //- link(href="https://calendar.google.com/calendar/scheduling-button-script.css" rel="stylesheet")
        link(href='https://fonts.googleapis.com/css2?family=Catamaran:wght@100;200;300;400;500;600;700;800&display=swap' rel='stylesheet')
        link(rel="stylesheet" href="/css/bootstrap.css")
        link(rel="stylesheet" href="/css/style.css")
        link(rel="stylesheet" href="/css/menuNav.css")
        link(rel="stylesheet" href="/css/aboutUsBlock.css")
        link(rel="stylesheet" href="/css/testimonial.css")
        script(src='https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js' integrity='sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj' crossorigin='anonymous')
        script(src='https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js' integrity='sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct' crossorigin='anonymous')



        title #{siteName} | #{content.title}
    body(class= clase)
        include header
        block slider 
        block content 
        include footer