.row.testimoniales
    each testimonio in testimoniales
        .col-md-6.col-lg-4.mb-4
            .card.mb-3
                .card-body
                    blockquote.blockquote
                    p.mb-0
                    h4= testimonio.mensaje
                    footer.blockquote-footer
                        span= testimonio.nombre